



#contenair-principal{
	display: grid;
	grid-template-columns: 300px 1fr;
	width: 800px;
	margin-left: 20%;
	margin-right: 15%;
	gap: 10px;

}

.introduction{
	background-color: black;
	color: white;
	width: 200px;
	font-size: 18px;
	margin-left: 50px;

}

.Ex{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;



}

.encadre{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	padding: 0px;
}

.column-left{
	background-color: #F5E2BD;
	width: 95%;
}

li{
	list-style: none;

}

.column-right{
	background-color: #D0F5BD;

}


.diplome{
	margin-left: 15px;
}

#monPortrait{
	margin-left: 50px;
	padding-right: 50px;
}





.bio{
	margin-left: 50px;

}

.interet{
	margin-left: 50px;

}

.para{
	margin-left: 50px;

}

.skills{
	margin-left: 50px;

}

.phone{
	margin-left: 50px;

}


.soca{
	margin: 15px;
}


.section2{
	margin: 15px;
}


a:hover {
	background-color: green;
	text-decoration: none;
}